* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------- HEADER START */
header .top-nav span {

    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    height: fit-content;    
}

header {

    background-color: black;
    position: relative;
    height: 60px;
    padding-top: 10px;
    font-size: 10px;
    color: white;
}

.top-nav {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------------------------ HEADER END */

/* ------------------------------------------------------------ MAIN START */

main {

    background-color: black;
    width: 100%;
    position: relative;
   

}

.container {

    width:100%;
    height: 100vh;
    overflow: scroll;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;

 
}
.user {

    position: relative;
    display: inline-block;
    background-color: red;
    width: 300px;
    height: 150px;
    border: white 1px solid;
    margin: 10px;
   
}

.user img {

    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user span {

    position:absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.1);
    color: white;
    padding: 3px;
}

/* ----------------------------------------------------------- MAIN END */

/* ---------------------------------------------------------- FOOTER START */


footer {

    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    position: fixed;


}

.foot-nav {

    color: white;
    text-align: center;

    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* -----------------------------------------LEFT-SIDE START */
.left-side {

 display: flex;
 justify-content: center
 margin-right: 10px;

}

.left-side .output {

    margin-right: 10px;
    margin-left: 10px;
}


/* --------------------------------------LEFT-SIDE END */

/* -------------------------------------- CENTER START */

.center {

    display: flex;
    justify-content: center;
}

.center .social {

    margin-right: 10px;
}

.center .social i {

    text-align: center;
}

/* ------------------------------------ CENTER END */

/* ------------------------------------- RIGHT-SIDE START */


.footer-right {

    color: red;
   
    line-height: 45px;
    background-color: rgb(96,96,96);
    height: 100%;
    padding: 10px;
}

.footer-right h5 {

    font-size: 10px;
    font-weight: 100;
}

/* --------------------------------------- RIGHT-SIDE END */

h5 {

    font-size: 10px;
    margin-top: 3px;
}

.arrow {

    display: flex;
    align-items: center;
    margin-right: 10px;
}

.fa-angle-up {

    font-size: 10px;
    display: block;
    margin: 5px;
    
}

/*---------------------------------------------------------- FOOTER END  */